* {
  box-sizing: border-box;
  /* margin: 0; */
  /* padding: 0; */
	font-family: "Arial OS", sans-serif;
}

/* .slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide:active{
  opacity: 1;
  transition-duration: 1s ease;
  transform: scale(1.08);
} */